{
  "branches": ["main"],
  "repositoryUrl": "git@github.com:ujjwal-ibm/go-sdk-release.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
